.sectionCard {
  width: 30%;
  display: flex;
  background-color: #0f0e0e;
  border-radius: 20px;
  margin: 10px;
}
.preiviewIMG {
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;
}
