
.section {
    /* background-color: #444444; */
}
.video-section {
  display: grid;
  margin-top: 10px;
  justify-items: end;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.gridStyle {
  grid-column: 1;
  grid-row: 1;
  /* border-radius: 70%; */
}
.sideGrid {
  grid-column: 2;
  grid-row: 1;
}
